html, body { 
    width: 100%;
    height: 100%; 
    background-color: rgb(22, 22, 22)
    }
    
.area {
    width: 100%;
    height: 100%;
    background-color: rgb(27, 27, 27);
    color: white;
}

.areaWork {
    width: 100%;
    height: 100%;
    background-color:rgb(27, 27, 27)
}

.conteiner {
    height: 100%;
    background-color: rgb(22, 22, 22);
    width: 80%;
    margin: auto;
}